@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
	font-family: 'Josefin slab', Georgia, serif;
	font-size: 17px;
	color: #002207;
	line-height: 1.5em;
	min-width: 360px;
}


.flex {
	display: flex;
}

.heading {
	text-transform: uppercase;
}
.justify-content {
	justify-content: center;
}
.align-center {
	align-items: center;
}
a {
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Cormorant Garamond', Georiga, serif;
	text-transform: uppercase ;
	line-height: 1.25em;
	font-weight: 600px;
}

h1 {font-size: 2.7em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.1em;}
h6 {font-size: 0.9em;}

body {
	background: #F9F3E8;
}
.main {
	width: 85%;
	margin: 0 auto;
	border-right: 1px solid #002207;
	border-left: 1px solid #002207;
}
.button {
	background: #FFD2A8;
	border-right: 1px solid #002207;
	box-shadow: 4px 4px 0 #002207;
	padding: 8px 15px;
	font-weight: bold;
	display: inline-block;
}

.logo a {
	text-decoration: none;
	color: inherit;
	display: inline-block	;
}
header {
	border-bottom: 1px solid #002207;
	justify-content: space-around;
	height: 80px;
}
.logo, .navigation, .social {
	height: 100%;
}
.logo, .social {
	width: 18%;	
}
.logo {
	border-right: 1px solid #002207;
	height: 100%;
	align-items: center;
}
.logo a h1 {
	text-transform: uppercase;
}
.navigation {
	gap: 15px;
	display: flex;
}
.navigation li {
	list-style: none;
}
.navigation li a {
	font-family: 'Cormorant Garmond';
	font-weight: 600px;
	font-size: 1.2em;
}
.social {
	justify-content: flex-end;
	gap: 20px;
	border-left: 1px solid #002207;
	height: 80px;
}
.jumbotron {
	border-bottom: 1px solid #002207;
}
.jumbotron video {
	width: 50%;
	padding: 10px;
	border-right: 1px solid #002207;
}
.jumbotron .jumbotron-content {
	padding: 10px 25px;
}
.jumbotron .jumbotron-content .button {
	margin-top: 30px;
}
.sub_guide div {
	border-right: 1px solid #002207;
	padding: 25px 15px;
}
.sub_guide .g5 {
	border-right: none;
}
.sub_guide {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.guide {
	border-bottom: 1px solid #002207;
}
.sub_guide H3, .guide-5 h5 {
	margin-bottom: 5px;
}
.sub_guide div:hover {
	background-color: lavender;
	cursor: pointer;
}





@media (max-width: 1100px) {
	.main {
		width: 100%;
		border: none;
	}
	.logo {
		width: auto;
		padding-right: 30px;
	}

	.social {
		display: none;
	}
	.sub_guide {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		
	}
	.sub_guide .g5 {
		border-right: 1px solid #002207;
	}
	.g1, .g2, .g3 {
		border-bottom: 1px solid #002207;
	}
	.sub_guide .g3 {
		border-right: none;
	}
}

@media (max-width: 720px) {
	header {
		flex-direction: column;
		padding: 0;
		height: auto;
	}

	.logo {
		border-right: 0;
		border-bottom: 1px solid #002207;
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.navigation {
		padding: 10px 0;
		gap: 5px;
	}
	.jumbotron{
		flex-direction: column;
	}
	.jumbotron .jumbotron-content {
		padding: 10px;
	}
	.jumbotron video {
		width: 100%;
		border-right: 0;
		box-sizing: border-box;
	}
	.logo {
	justify-content: center;
	}
	.sub_guide {
		display: grid;
		grid-template-columns: 1fr 1fr;

	}
	.g4 {
		border-bottom: 1px solid #002207;
	}
	.sub_guide .g3 {
		border-right: 1px solid #002207;
	}
	.sub_guide .g2, .sub_guide .g4 {
		border-right: none;
	}
}